.header, .innerHeader{
  font-size: 3em;
  font-weight: lighter;
  display: block;
  margin: 1em 0;
  width: 100%;
  text-align: center;
  line-height: 1em;
}
.innerHeader{
  font-weight: lighter;
  display: block;
  margin: 1em 0;
  width: 100%;
  text-align: center;
  font-size: 2em;
  color:  rgb(0, 80, 78);

}
.container{
  padding: 0 1em;
}
.notification{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-size: 1.3em;
  font-weight: lighter;
  border-radius: 3px;
  padding: 1em 0;
  margin-bottom: 10px;
  color: white;
  span {
    margin-left: 1em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.bad {
  background-color: rgb(248, 172, 172);
  color: black
}

.good {
  background-color: #005f5e9a;
}

.date {
  font-weight: bold;
}
