.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}
.header {
  font-size: 3em;
  font-weight: lighter;
  display: block;
  margin: 1em 0;
  width: 100%;
  text-align: center;
}
