$background: #005F5E;

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  min-width: 300px;
  max-width: 500px;
  background-color: $background;
  color: white;
  margin:auto;
  margin-top: 5%;
  border-radius: 10px;
  box-shadow: 0 0 15px 5px #682622;
  border: 1px solid rgb(0, 80, 78);
}

.instruction {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
  color: white;
  span{
    margin: 0.5em 0 0.5em 0;
  }
  span:first-child {
    margin: 1.5em 0 0.5em 0;
  }
}
.incorrect {
  display: block;
  color: rgb(255, 158, 158);
  font-size: 0.8em;
  text-align: center;
  line-height: 1.2;
}
.correct {
  display: none;
}

.fieldBox {
  margin: 1em 0;
  display: flex;
  width: 75%;
  flex-direction: column;
  align-items: stretch;
  label {
    font-size: 1.2em;
    margin: 5px 2px;
  }
  input {
    color: white;
    background-color: $background;
    box-shadow: 0 0 0px 1000px $background inset;;
    -webkit-box-shadow: 0 0 0px 1000px $background inset;;
  }
  input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
  // mat-form-field {
  //   font-size: 1.2em;
  //   padding: 9px;
  //   margin: 5px 2px;
  //   outline: none;
  //   border: none;
  //   border-radius: 3px;
  //   width: auto;
  // }
  // input:focus {
  //   border: 2px solid #682622;
  //   // // padding: 2px;
  //   margin: 3px 0;
  // }
}

button {
  padding: 0.5em 1.5em;
  font-size: 1.2em;
  margin: 1em;
  border: none;
  border-radius: 5px;
  // color: white;
  background-color: #EFCA58;
  transition: all 0.2s ease-in-out;
}

button:active {
  background-color: #dab751;
  box-shadow: 0 0 5px 3px #EFCA58;
}

.bottom {
  // width: auto;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
    a{
    display: block;
    margin: 1em;
    width: auto;
    text-decoration: none;
    color: #EFCA58;
    font-size: 1.2em;
  }

}

.white{
  color: white;
}
::ng-deep .mat-form-field-label {
  /*change color of label*/
  color: white !important;
 }

 ::ng-deep.mat-form-field-outline {
  /*change color of underline*/
  border-color: white;
}

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: green !important;;
}
@media only screen and (max-width: 1000px) {
  .login {
    width: 50%;
  }
}

@media only screen and (max-width: 750px) {
  .login {
    width: 65%;
  }
}

@media only screen and (max-width: 650px) {
  .login {
    width: 80%;
  }
}
