<form [formGroup]="login" #form (ngSubmit)="submit(form)">
  <div class="login">
    <div class="instruction">
      <span>Sign In</span>
      <span [ngClass]="incorrectLogin ? 'incorrect' : 'correct' ">Incorrect Username or Password</span>
    </div>
    <div class="fieldBox usernameRegion">
      <label for="username">Email</label>
      <input type="text" id="username" formControlName="email">
    </div>

    <div class="fieldBox passwordRegion">
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password">
    </div>

    <button type="submit">
      Sign In
    </button>

    <div class="bottom">
      <a routerLink="/registration">Register</a>

    </div>
  </div>
</form>
