.container{
  position: absolute;
  opacity: 0;
  width: 100%;
  top: 0;
  transition: all 0.5s;
  .inner {
    background-color: rgb(1, 139, 137);
    color: white;
    width: 50vw;
    margin: auto;
    text-align: center;
    border-radius: 3px;
    font-size: 1.5em;
    padding: 1em;
  }
}
.bad {
  .inner{
    background-color: rgb(241, 68, 68);
  }
}
.visible {
  opacity: 1 !important;
  top: 5%;
}
@media only screen and (max-width: 750px) {
  .inner {
    width: 90% !important;
  }
}
