<app-header></app-header>
<mat-sidenav-container>

  <mat-sidenav [(opened)]="currentSidenavState" [autoFocus]="false">
    <div class="column" *ngIf="!checkIfAdmin()">
      <span>Categories</span>
      <a mat-button *ngFor="let category of categories" (click)="categoryClick(category)"
        [ngClass]="category == selectedCategory? 'active' : ''">{{category}}</a>
      <!-- <a mat-button routerLinkActive="active" routerLink="/furniture">Furniture</a>
      <a mat-button routerLinkActive="active" routerLink="/vehicle">Vehicle</a>
      <a mat-button routerLinkActive="active" routerLink="/office">Office Equipment</a>
      <a mat-button routerLinkActive="active" routerLink="/stock">Stock Items</a> -->
    </div>

  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <app-popup></app-popup>
  </mat-sidenav-content>

</mat-sidenav-container>
