mat-sidenav-content {
  height: calc(100vh - 64px);
}

mat-sidenav{
  background-color: #F5F5F5;
}

.column {
  display: flex;
  flex-direction: column;
  min-width: 150px; ;
  a {
    background-color: #dbdbdb;
    margin: 5px 0;
    padding: 10px 20px;
    font-size: 1.3em;
    font-weight: lighter;
    border-radius: 0;
  }
  span {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    margin: 1em 0;
  }
}

.active {
  background-color: #905B58 !important;
  color: #f5f5f5;
}

.nameRegion{
  width: 100%;
  button {
    width: 100%;
    background-color: #905b5833;
    border-radius: 0;
  }
}

mat-accordion {
  margin: 5px 0;
}
mat-expansion-panel {
  margin: 5px 0 !important;
  box-shadow: 0 0 3px 1px black;
}

.buttons {
  // background-color: pink;
  display: flex;
  flex-direction: column;
  a {
    border-radius: 5px;
    margin-top: 10px;
  }
}
