.header, .subHeader {
  font-size: 3em;
  font-weight: lighter;
  display: block;
  margin: 1em 0;
  width: 100%;
  text-align: center;
}
.subHeader{
  font-size: 2em;
}
table {
  width: 100%;
}
