.header, .subHeader {
  font-size: 3em;
  font-weight: lighter;
  display: block;
  margin: 1em 0;
  width: 100%;
  text-align: center;
  line-height: 1em;
}
.subHeader{
  font-size: 2em;
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  width: 95%;
  margin: auto;
}

.user {
  .information{

    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
  }
  padding: 1em;
  // background-color: pink;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  .buttonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  span {
    font-size: 1.3em;
    font-weight: lighter;
    display: block;
    // width: 100%;
    margin: 5px;
  }
  .instruction{
    font-weight: bold;
  }
  button{
    margin: 10px;
    color: white;
    background-color: rgb(0, 80, 78);
  }
}

