.headerImage {
  height: 80vh;
  background-image: url("../../assets/HomeHeader.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // background-clip: content-box;
}
.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);

  img {
    margin-top: 10%;
    height: 50%;
    max-height: 250px;
  }
  // z-index: 1
}

.content {
  padding: 1em 10%;
  font-weight: lighter;
  font-size: 1.3em;
  line-height: 2em;
  text-align: center;
}
