<div class="container">
  <div class="headerImage">
    <div class="overlay">
      <img src="../../assets/logo6.PNG">
    </div>
  </div>

  <div class="content">
    <p>
      The International Livestock Research Institute (ILRI) works with partners worldwide to
      enhance the roles that livestock olav in food security and poverty alleviation, principally in Africa and Asia.
      The outcomes of these research partnerships help people in developing
      countries keep their farm animals alive and productive, increase their livestock and farm productivity in
      sustainable ways, find profitable markets for their animal products, and reduce the risk of livestock-related
      human diseases.
      <br>
      <br>
      If you are an employee of ILRI, why not sign up and participate on different auctions we provide? You might win!
    </p>
  </div>

</div>
